[user]
    name = Chad Engler
    email = englercj@live.com
[core]
    excludesfile = ~/.gitignore
[color]
    ui = auto
[alias]
    co = checkout
    ls = status
    lol = log --graph --decorate --pretty=oneline --abbrev-commit --date=relative --format=format:'%C(red)%h%C(reset) - %C(green)(%ar)%C(reset) %s - %C(dim cyan)%an%C(reset) %C(auto)%d%C(reset)'
    sha = rev-parse HEAD
    gc-branches = "!LANG=en_US git branch -vv | awk '/: gone]/{print $1}' | xargs git branch -D"
